@{
     ViewData["Title"] = "About";
}

<div class="">
    <div class="aboutbg">
        <h1 class="text-center font-serif text-3xl md:text-4xl pb-4 text-white">About Us</h1>
    </div>
    <div class="container mx-auto max-w-4xl py-20 px-8">
        <p class="max-w-2xl text-lg mx-auto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat non voluptatibus eveniet sequi quo nisi quas enim cumque natus sapiente, voluptate, laborum iusto fuga voluptatum quisquam dicta neque labore dolores odit iste tempora impedit aspernatur exercitationem. Perspiciatis officiis et tempore odio! Laboriosam, officiis. Vel beatae, quam tenetur autem quidem assumenda voluptate sit omnis ratione consectetur perspiciatis impedit eaque ipsam quod aspernatur nisi reiciendis veniam nam libero! Amet in deserunt nostrum culpa neque totam ex explicabo nulla temporibus numquam.</p>
    </div>
</div>