@{
    ViewData["Title"] = "Contact";
}

    <div class="contactbg">
        <h1 class="text-center font-serif text-3xl md:text-4xl pb-4 text-white">Contact Us</h1>
    </div>
    <div class="container mx-auto max-w-lg py-20 px-8">
        <h1 class="text-center font-serif text-3xl md:text-4xl pb-4">Contact us here</h1>
        <form >
            <div class="py-2 flex flex-col">
                <label for="">Name</label>
                <input type="text" class="py-2 px-3 border-2 border-gray-400" />
            </div>
            <div class="py-2 flex flex-col">
                <label for="">Email</label>
                <input type="text" class="py-2 px-3 border-2 border-gray-400" />
            </div>
            <div class="py-2 flex flex-col pb-4">
                <label for="">Message</label>
               <textarea name="" class="py-2 px-3 border-2 border-gray-400" id="" cols="30" rows="5"></textarea>
            </div>
            <button class="bg-red-600 py-3 text-white w-full">Send Message</button>
        </form>
    </div>