@{
    ViewData["Title"] = "Gallery";
}

    <div class="gallerybg">
        <h1 class="text-center font-serif text-3xl md:text-4xl pb-4 text-white">Gallery</h1>
    </div>
    <div class="container mx-auto max-w-4xl py-20 px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
            <img src="/imgs/caroline-lm-8BkF0sTC6Uo-unsplash.jpg" class="w-full" alt="">
            <img src="/imgs/four.jpg" class="w-full" alt="">
            <img src="/imgs/rudi-fargo-MjO2ZWzPLtc-unsplash.jpg" class="w-full" alt="">
            <img src="/imgs/two.png" class="w-full" alt="">
            <img src="/imgs/one.jpg" class="w-full" alt="">
            <img src="/imgs/three.jpg" class="w-full" alt="">

        </div>
    </div>
