@{

}


 <!-- showcasing -->
    <div class="showcasing">
        <div class="container mx-auto max-w-4xl px-8">
            <h1 class="font-serif text-3xl md:text-5xl leading-4 pb-6">Hello, its Dr Chung</h1>
            <p class="max-w-2xl text-white text-lg md:text-xl pb-6">Lorem Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, possimus!, sit amet consectetur adipisicing er laborum? ipsum dolor sit amet consectetur.</p>
            <div class="">
                <a href="#" class="bg-red-600 py-2 md:py-3 px-10 text-lg font-serif text-white">About Us</a>
            </div>
        </div>
    </div>



    @* our services *@
    <div class="">
        <div class="container mx-auto max-w-5xl py-28 px-8">
            <div class="flex flex-col items-center justify-center pb-10">
                <h1 class="font-serif text-3xl md:text-4xl pb-4">Our Services</h1>
                <div class="max-w-3xl mx-auto text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda labore quidem facere nemo fuga neque illum in enim! Eligendi, dolorem!</p>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                <div class="flex flex-col items-center bg-blue-200 py-5 px-3">
                    <p class="pb-3">A</p>
                    <p>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nisi excepturi fuga! Ab neque reprehenderit ullam iste repellat itaque officiis!
                    </p>
                </div>
                <div class="flex flex-col items-center bg-blue-200 py-5 px-3">
                    <p class="pb-3">A</p>
                    <p>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nisi excepturi fuga! Ab neque reprehenderit ullam iste repellat itaque officiis!
                    </p>
                </div>
                <div class="flex flex-col items-center bg-blue-200 py-5 px-3">
                    <p class="pb-3">A</p>
                    <p>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nisi excepturi fuga! Ab neque reprehenderit ullam iste repellat itaque officiis!
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- our team -->
    <div class="bg-blue-100">
        <div class="container mx-auto max-w-5xl py-28 px-8">
            <h1 class="font-serif text-3xl md:text-4xl pb-4 text-center pb-6">Our Team</h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                <div class="">
                    <img src="/imgs/bruno-rodrigues-279xIHymPYY-unsplash.jpg" alt="" class="shadow-xl">
                    <div class="text-center py-3">
                        <p class="font-serif text-lg md:text-xl">Dr Lucas Shown</p>
                        <p class="font-serif text-lg md:text-xl">SR Dentist Doctor</p>
                    </div>
                </div>
                <div class="">
                    <img src="/imgs/bruno-rodrigues-279xIHymPYY-unsplash.jpg" alt="" class="shadow-xl">
                    <div class="text-center py-3">
                        <p class="font-serif text-lg  md:text-xl">Dr Pablo Brown</p>
                        <p class="font-serif text-lg md:text-xl">Doctor</p>
                    </div>
                </div>
                <div class="">
                    <img src="/imgs/bruno-rodrigues-279xIHymPYY-unsplash.jpg" alt="" class="shadow-xl">
                    <div class="text-center py-3">
                        <p class="font-serif text-lg md:text-xl">Mark Vilas</p>
                        <p class="font-serif text-lg md:text-xl">Nurse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- banner -->
    <div class="banner">
        <div class="container mx-auto px-8">
            <div class="flex flex-col jusdtify-center items-center">
                <h1 class="font-serif text-3xl md:text-4xl pb-4">How can we Help?</h1>
                <a href="#" class="bg-red-600 py-2 px-6 md:px-10 text-lg font-serif text-white shadow-xl">Make Appointment</a>
            </div>
        </div>
    </div>
    
    <!-- why choose us -->
    <div class="">
        <div class="container mx-auto max-w-5xl py-28 px-8">
            <h1 class="font-serif text-3xl md:text-4xl pb-10 text-center">Why choose Us</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
                <div class="bg-red-200 flex flex-col  items-center py-5 px-3 shadow-xl mb-4 lg:mb-0">
                    <p class="pb-4">A</p>
                    <h1 class="text-xl font-serif pb-4">Easy Booking</h1>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro consequatur corporis dolorem eius nesciunt.
                    </p>
                </div>
                <div class="bg-red-200 flex flex-col  items-center py-5 px-3 shadow-xl mb-4 lg:mb-0">
                    <p class="pb-4">B</p>
                    <h1 class="text-xl font-serif pb-4">Experience</h1>
                    <p class="text-center">
                         sit amet consectetur adipisicing elit. Porro consequatur corporis dolorem eius nesciunt.
                    </p>
                </div>                
                <div class="bg-red-200 flex flex-col  items-center py-5 px-3 shadow-xl mb-4 lg:mb-0">
                    <p class="pb-4">C</p>
                    <h1 class="text-xl font-serif pb-4">Fast Help</h1>
                    <p class="text-center">
                        Lorem ipsum dolor sit ectetur adipisicing elit. Porro consequatur corporis dolorem eius nesciunt.
                    </p>
                </div>   
                <div class="bg-red-200 flex flex-col  items-center py-5 px-3 shadow-xl mb-4 lg:mb-0">
                    <p class="pb-4">D</p>
                    <h1 class="text-xl font-serif pb-4">Better Care</h1>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro consequatur corporis dolorem eius nesciunt.
                    </p>
                </div>
            </div>
        </div>
    </div>